@font-face {
  font-family: 'monserrat-light';
  src: url('../../fonts/montserrat/Montserrat-Light.ttf');
}

@font-face {
  font-family: 'monserrat-medium';
  src: url('../../fonts/montserrat/Montserrat-Medium.ttf');
}

@font-face {
  font-family: 'monserrat-bold';
  src: url('../../fonts/montserrat/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'ubuntu-bold';
  src: url('../../fonts/ubuntu/Ubuntu-Bold.ttf');
}

@font-face {
  font-family: 'ubuntu-medium';
  src: url('../../fonts/ubuntu/Ubuntu-Medium.ttf');
}

@font-face {
  font-family: 'ubuntu-regular';
  src: url('../../fonts/ubuntu/Ubuntu-Regular.ttf');
}