@import '../../../../assets/styles/abstracts/variables.scss';

tr {
  position: relative;
}

@media screen and (min-width: 768px) and (max-width: 1374px) {

  .filters {
    &-row {
      margin: 9px 0;
      display: flex;
      flex-direction: row;
      align-items: center;

    }

    &-col {
      margin: 0 3.5%;
      width: 100px
    }



    &-label {
      font-size: 12px;
      color: $color-black;
    }

    &-input {
      height: 28px;
      padding-left: 5px;
      border-radius: 5px;

    }

    &-select {
      height: 28px;
      border-radius: 5px;
    }

  }
}

@media screen and (min-width: 1375px) {
  .filters {
    &-row {
      margin: 9px 0;
      display: flex;
      flex-direction: row;
      //justify-content: space-between;
      align-items: center;

    }

    &-col {
      margin: 0 4%;
      width: 150px
    }



    &-label {
      font-size: 12px;
      color: $color-black;
    }

    &-input {
      height: 28px;
      padding-left: 5px;
      border-radius: 5px;

    }

    &-select {
      height: 28px;
      border-radius: 5px;
    }

  }
}

.circle {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;

  //left: -20px;
  top: 50%;
  transform: translateY(-50%);
}

/* Define CSS variables for each number of days */
:root {
  --color-4: $color-deep-red;
  --color-9: $color-deep-yellow;
  --color-11: $color-deep-green;
}

/* Create CSS rules for each number of days */
tr:nth-child(1) .circle,
tr:nth-child(2) .circle,
tr:nth-child(3) .circle,
tr:nth-child(4) .circle {
  --circle-color: var(--color-4);
}

tr:nth-child(5) .circle,
tr:nth-child(6) .circle,
tr:nth-child(7) .circle,
tr:nth-child(8) .circle {
  --circle-color: var(--color-9);
}

tr:nth-child(9) .circle,
tr:nth-child(10) .circle {
  --circle-color: var(--color-11);
}