@import '../abstracts/variables';

.p-dialog .p-dialog-header .p-dialog-title {
  font-weight: 400;
  color: $color-jelly-bean-blue;
}

.p-dialog .p-dialog-header .p-dialog-header-icon {
  color: $color-jelly-bean-blue;
}