<p-dialog [(visible)]="visible" [modal]="true" [closable]="false">
  <ng-template pTemplate="headless">
    <div class="fullscreen-dialog-content">
      <div class="modal-content">
        <div class="login-form-header">
          <div class="login-form-header__item login-form-header__item_1"></div>
          <div class="login-form-header__item login-form-header__item_2"></div>
          <div class="login-form-header__item login-form-header__item_3"></div>
          <div class="login-form-header__item login-form-header__item_4"></div>
          <div class="login-form-header__item login-form-header__item_5"></div>
          <div class="login-form-header__item login-form-header__item_6"></div>
        </div>

        <div class="row my-4 px-5">
          <div class="col-12 title">Caracterizar solicitud</div>
        </div>
        <form [formGroup]="formGroup">
          <div class="container-row">
            <div class="container-col">
              <label class="label-select"> *Tipo de solicitante reclasificación </label>
              <p-dropdown
                [style]="{ width: '300px', height: '30px', 'align-items': 'center' }"
                formControlName="applicant_type_id"
                [options]="applicantTypeList"
                optionLabel="applicant_type_name"
                (onChange)="getRequestType()"
                optionValue="applicant_type_id"
                placeholder="Seleccione"></p-dropdown>
              <label class="invalid">
                {{
                  formGroup.get('applicant_type_id')?.hasError('required') &&
                  formGroup.get('applicant_type_id')?.touched
                    ? 'Campo Requerido'
                    : ''
                }}</label
              >
            </div>
            <div class="container-col">
              <label class="label-select"> *Tipo de solicitud reclasificación </label>
              <p-dropdown
                formControlName="request_type_id"
                [style]="{ width: '300px', height: '30px', 'align-items': 'center' }"
                [options]="requestTypeList"
                optionLabel="request_type_name"
                optionValue="request_type_id"
                placeholder="Seleccione"></p-dropdown>
              <label class="invalid">
                {{
                  formGroup.get('request_type_id')?.hasError('required') &&
                  formGroup.get('request_type_id')?.touched
                    ? 'Campo Requerido'
                    : ''
                }}</label
              >
            </div>
          </div>
          <div class="row my-4 px-5">
            <label class="label-select"> ¿La solicitud corresponde a PQR? </label>
            <div class="container-group">
              <div class="container-group-checkbox">
                <p-radioButton name="is_pqr" [value]="1" formControlName="is_pqr"></p-radioButton>
                <label class="container-group-label" for="selectYes">Sí</label>
              </div>
              <div class="container-group-checkbox">
                <p-radioButton name="is_pqr" [value]="0" formControlName="is_pqr"></p-radioButton>
                <label class="container-group-label" for="selectNo">No</label>
              </div>
            </div>
          </div>
          <div class="container-row" *ngIf="modalBoolean">
            <div class="container-col">
              <label class="label-select"> Dimensión de calidad </label>
              <p-dropdown
                [style]="{ width: '300px', height: '30px', 'align-items': 'center' }"
                formControlName="quality_dimension_id"
                [options]="qualityList"
                optionLabel="quality_dimension_name"
                optionValue="quality_dimension_id"
                placeholder="Seleccione"></p-dropdown>
              <label class="invalid">
                {{
                  formGroup.get('quality_dimension_id')?.hasError('required') &&
                  formGroup.get('quality_dimension_id')?.touched
                    ? 'Campo Requerido'
                    : ''
                }}</label
              >
            </div>
            <div class="container-col">
              <label class="label-select"> Modalidad </label>
              <p-dropdown
                [style]="{ width: '300px', height: '30px', 'align-items': 'center' }"
                (onChange)="getCategoryTableByModality(this.formGroup.get('modality_id')?.value)"
                formControlName="modality_id"
                [options]="modalityList"
                optionLabel="modality_name"
                optionValue="modality_id"
                placeholder="Seleccione"></p-dropdown>
              <label class="invalid">
                {{
                  formGroup.get('modality_id')?.hasError('required') &&
                  formGroup.get('modality_id')?.touched
                    ? 'Campo Requerido'
                    : ''
                }}</label
              >
            </div>
          </div>
          <div class="container-row" *ngIf="categoryBoolean && modalBoolean">
            <div class="container-col">
              <label class="label-select"> Categoría</label>
              <p-dropdown
                [style]="{ width: '300px', height: '30px', 'align-items': 'center' }"
                formControlName="category_id"
                (onChange)="
                  getTipologiesListByCategory(
                    this.formGroup.get('category_id')?.value.category_name
                  )
                "
                [options]="categoryList"
                optionLabel="category_name"
                placeholder="Seleccione"></p-dropdown>
              <label class="invalid">
                {{
                  formGroup.get('category_id')?.hasError('required') &&
                  formGroup.get('category_id')?.touched
                    ? 'Campo Requerido'
                    : ''
                }}</label
              >
            </div>
            <div class="container-col">
              <label class="label-select"> Tipología </label>
              <p-dropdown
                [style]="{ width: '300px', height: '30px', 'align-items': 'center' }"
                formControlName="tipology_id"
                (onChange)="getCausesListByTipology(this.formGroup.get('tipology_id')?.value)"
                [options]="TipologyList"
                optionLabel="tipology_name"
                emptyMessage="Debe seleccionar un tipo de categoria"
                optionValue="tipology_name"
                placeholder="Seleccione"></p-dropdown>
              <label class="invalid">
                {{
                  formGroup.get('tipology_id')?.hasError('required') &&
                  formGroup.get('tipology_id')?.touched
                    ? 'Campo Requerido'
                    : ''
                }}</label
              >
            </div>
          </div>
          <div class="container-rowCauses" *ngIf="causeBoolean && modalBoolean">
            <div class="container-colCauses">
              <label class="label-select"> Causas</label>
              <p-dropdown
                [style]="{ width: '300px', height: '30px', 'align-items': 'center' }"
                formControlName="cause_id"
                [options]="CauseList"
                optionLabel="cause_name"
                emptyMessage="Debe seleccionar un tipo de tipologia"
                optionValue="cause_name"
                placeholder="Seleccione"></p-dropdown>
              <label class="invalid">
                {{
                  formGroup.get('cause_id')?.hasError('required') &&
                  formGroup.get('cause_id')?.touched
                    ? 'Campo Requerido'
                    : ''
                }}</label
              >
            </div>
          </div>
        </form>
        <div>
          <div class="row my-4 px-5" style="margin: 10px auto">
            <div class="col-12 d-flex justify-content-evenly">
              <p-button
                label="Cerrar solicitud"
                severity="danger"
                [disabled]="formGroup.invalid"
                (click)="closeDialog(false)"></p-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-dialog>
<p-toast></p-toast>
