$color-dark-blur-gray: #ececec;
$color-white-blur-smoke: #F7F7F7;
$color-base-san-martin: rgb(24, 59, 96);
$color-linear-gradient-san-martin: linear-gradient(0deg,
        rgba(24, 59, 96, 1) 0%,
        rgba(74, 134, 141, 1) 94%);
$color-auro-metal-saurus: #6c757d;
$color-white: #ffffff;
$color-davis-gray: #495057;
$color-platinum: #e3e3e3;
$color-jelly-bean-blue: #4b878d;
$color-jelly-bean-blue-alpha: rgba(75, 135, 141, 0.8);
$color-shadow: rgba(0, 0, 0, 0.2);
$color-indigo: #16395f;
$color-quick-silver: #a7a7a7;
$color-anti-flash-white: #f3f3f3;
$color-cultured: #f8f8f8;
$color-vermilion: #e02c08;
$color-water: #d7f3f7;
$color-tangerine-yellow: #fece04;
$color-declined: #af1617;
$color-danger: #af1617;
$color-waiting-request: #f48430;
$color-approved: #59946b;
$color-ceil: #86a5c7;
$color-blue-subtitle: #61969b;

$color-blue: #0099d8;
$color-green: #a4c000;
$color-yellow: #ffbb00;
$color-orange: #ff9200;
$color-rosado: #ff2b81;
$color-red: #ff0000;

$color-yellow-green: #a0bf1b;
$color-dodger-blue: #329dd1;
$color-tab-blue: #01aeef;

$color-title-blue: #00afef;
$color-text-black: #404040;


$color-white-smoke: #efefef;
$color-light-gray: #d0d0d0;
$color-gray: #91908f;
$color-dark-orange: #ff9700;
$color-golden-rod: #ffaf3a;
$color-dim-gray: #737270;
$color-black: #0e0d0df3;
$color-deep-red: #f00;
$color-deep-yellow: #ff0;
$color-tab-yellow: #FFDD00;
$color-deep-green: #0f0;